// variables
$black: #1d1d1f;
$gold: #A58861;
$goldLighter: #D5B891;
$fontSize: 16px;
$normalFont: YuGothic,'Yu Gothic',sans-serif;
$serifFont: 'Cormorant Garamond', serif; // mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-around($alignItems: center) {
  display: flex;
  justify-content: space-around;
  align-items: $alignItems;
}
@mixin margin-center {
  margin: 0 auto;
}
@mixin standard-height-width {
  height: 100vh;
  width: 100%;
}
@mixin test-border {
  border: 1px solid gray;
}
@mixin underline($width, $color) {
  border-bottom: $width solid $color;
}
@mixin background-image {
  background-size: cover;
  background-position: center;
}
@mixin text-align-center {
  text-align: center;
}
// functions
// actual code
// 全体におけること

html {
  color: $black;
  font-size: $fontSize;
  background-color: white;
  font-family: 'Cormorant Garamond', YuGothic,'Yu Gothic',serif;
}

body {
  width: 100%;
}

h2,
h3,
h4 {
  font-weight: bold;
}

.link {
  color: #1e88e5;
  font-weight: bold;

  &:hover {
    @include underline(2px, #1e88e5);
  }
}

.link-black {
  color: $black;
  border-bottom: 1px solid $black;

  &:hover {
    color: rgba(29,29,31,.5);
    border-bottom: 1px solid rgba(29,29,31,.5);
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.normal-font {
  font-family: $normalFont;
}

.icon {
  position: fixed;
  top: 5vh;
  left: 5vw;
  transform: translate(-50%, -50%);
  z-index: 100;

  img {
    width: 50px;
  }
}
// トップページ

.hero {
  position: relative;
  @include standard-height-width;
  @include flex-center;
  overflow: hidden;

  .title {
    text-align: center;

    h1 {
      font-size: 40px;

      &:after {
        display: block;
        content: "";
        height: 40px;
      }
    }

    p {
      font-size: 40px;
      color: $gold;
    }
  }

  .scroll-box {
    height: 15vh;
    position: absolute;
    bottom: 0;
    text-align: center;

    p {
      padding-bottom: 4px;
      letter-spacing: 2px;
    }

    .scroll-arrow {
      overflow: hidden;

      .black-bar {
        @include margin-center;
        height: 13vh;
        width: 2px;
        background: $black;
      }
      @keyframes scroll {
        0% {
          transform: translateY(-100%);
        }

        100% {
          transform: translateY(100%);
        }
      }

      .golden-bar {
        width: 2px;
        @include margin-center;
        height: 13vh;
        background: $goldLighter;
        animation: scroll 2s infinite;
      }
    }
  }
}
// 自己紹介のページ

.about {
  color: $black;
  max-width: 100%;
  background-color: white;

  .section-title {
    text-align: center;
    position: sticky;
    height: 10vh;
    @include flex-center;
    top: 0;
    background: white;

    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .image-box {
    @include flex-center;
    margin: 5vh 0;

    img {
      height: 50vh;
      border-radius: 10px;
    }
  }

  .intro-series {
    margin: 5vh 10vw;
    @include flex-space-around(flex-start);

    h3 {
      color: $gold;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: $fontSize;
    }

    li,
    p {
      padding: 5px 0;
      font-family: $normalFont;
    }

    p {
      line-height: 32px;
    }

    .bold {
      font-weight: bold;
    }
    @keyframes link-arrow {
      0% {
        transform: translateY(0%);
      }

      30% {
        transform: translateY(20%);
      }

      60% {
        transform: translateY(0%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    i {
      padding: 0 4px;
      animation: link-arrow 2.5s infinite;
    }

    .link-black {
      display: inline-block;
      margin-top: $fontSize;
    }

    .about {
      .intro-series-h3 {
        text-align: center;

        h3 {
          font-size: 25px;
        }
      }
      width: 30vw;
    }

    .hobbies-mini {
      width: 15vw;
    }

    .skills-mini {
      width: 15vw;
    }
  }
}
// より詳しい自己紹介のページ

.who-am-i {
  background: #cfd8dc;
  width: 100%;

  h3 {
    text-align: center;
    font-size: 20px;
    padding: 5vh 0;
  }

  .section-title {
    text-align: center;
    position: sticky;
    height: 10vh;
    @include flex-center;
    top: 0;
    background: #cfd8dc;

    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .hobbies {
    font-family: $normalFont;

    .hobby-cards {
      @include flex-space-around(flex-start);
    }

    .hobby-card {
      h4 {
        text-align: center;
      }
      width: 35vw;
      border: 1px solid $black;
      padding: $fontSize;
      margin: 5vh 0;
      line-height: 32px;

      .images-box {
        padding-top: 2vh;

        a {
          display: block;
        }

        img {
          height: 20vh;
        }
        @include flex-space-around(flex-start);
      }
    }
  }

  .fav-people {
    font-family: $normalFont;

    .person-cards {
      @include flex-space-around(flex-start);

      .person-card {
        width: 15vw;

        h4 {
          text-align: center;
          margin-bottom: $fontSize;
        }

        img {
          max-width: 100%;
          margin-bottom: $fontSize;
        }
      }
    }
  }

  .dream {
    .dream-cards {
      @include flex-space-around(flex-start);

      .dream-card {
        h4 {
          text-align: center;
        }
        width: 25vw;
        border: 1px solid $black;
        padding: $fontSize;
        margin: 5vh 0;
        line-height: 32px;
      }
    }
  }
}
// スキル紹介のページ

.skills {
  background-color: #1c313a;
  color: white;

  h3 {
    text-align: center;
    font-size: 20px;
    padding: 5vh 0;
  }

  .section-title {
    height: 10vh;
    @include flex-center;
    font-size: 30px;
    background: #1c313a;
    position: sticky;
    top: 0;
  }

  .learned,
  .learning {
    font-family: $normalFont;
  }

  .skill_cards {
    @include flex-space-around(flex-start);
  }

  .skill_card {
    margin: 5vh;
    width: 30vw;

    h4 {
      @include text-align-center;
      color: $goldLighter;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 5vh;
    }

    p {
      line-height: 32px;
    }

    .a-button {
      @include flex-center;
      width: 200px;
      height: 45px;
      border: 2px solid white;
      position: relative;
      @include margin-center;
      margin-top: 20px;

      &:active {
        background: $goldLighter;
        color: #1c313a;
        border: none;
      }

      &:active:after {
        display: none;
      }

      &:hover::after {
        transform: translate(5px, -5px);
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 5px;
        left: -7px;
        width: 200px;
        height: 45px;
        background: rgba(245, 245, 245, .4);
        transition: transform 0.3s;
      }
    }
  }
}

.footer {
  background: white;
  color: $black;
  width: 100%;

  h3 {
    text-align: center;
    font-size: 20px;
    padding: 5vh 0 3vh;
  }

  .nav {
    margin: 0 25vw;

    ul {
      @include flex-center;

      li {
        display: block;
        margin: $fontSize;

        a {
          color: $black;
          border-bottom: 1px solid $black;

          &:hover {
            border-bottom: 1px solid rgba(29,29,31,.5);
            color: rgba(29,29,31,.5);
          }
        }
      }
    }
  }

  .thanks-message {
    font-size: 25px;
    text-align: center;
    padding: 5vh 0;
  }

  .cc {
    font-family: $normalFont;
    font-size: 14px;
    width: 60vw;
    @include margin-center;
    padding: 2vh 0;
  }
}
