html {
  color: #1d1d1f;
  font-size: 16px;
  background-color: white;
  font-family: 'Cormorant Garamond', YuGothic,'Yu Gothic',serif;
}

body {
  width: 100%;
}

h2,
h3,
h4 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.link {
  color: #1e88e5;
  font-weight: bold;
}
.link:hover {
  border-bottom: 2px solid #1e88e5;
}

.link-black {
  color: #1d1d1f;
  border-bottom: 1px solid #1d1d1f;
}
.link-black:hover {
  color: rgba(29, 29, 31, 0.5);
  border-bottom: 1px solid rgba(29, 29, 31, 0.5);
}

.normal-font {
  font-family: YuGothic, "Yu Gothic", sans-serif;
}

.icon {
  position: fixed;
  top: 5vh;
  left: 5vw;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.icon img {
  width: 50px;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero .title {
  text-align: center;
}
.hero .title h1 {
  font-size: 40px;
}
.hero .title h1:after {
  display: block;
  content: "";
  height: 40px;
}
.hero .title p {
  font-size: 40px;
  color: #A58861;
}
.hero .scroll-box {
  height: 15vh;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.hero .scroll-box p {
  padding-bottom: 4px;
  letter-spacing: 2px;
}
.hero .scroll-box .scroll-arrow {
  overflow: hidden;
}
.hero .scroll-box .scroll-arrow .black-bar {
  margin: 0 auto;
  height: 13vh;
  width: 2px;
  background: #1d1d1f;
}
@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.hero .scroll-box .scroll-arrow .golden-bar {
  width: 2px;
  margin: 0 auto;
  height: 13vh;
  background: #D5B891;
  animation: scroll 2s infinite;
}

.about {
  max-width: 100%;
  background-color: white;
}
.about .section-title {
  text-align: center;
  position: sticky;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: white;
}
.about .section-title h2 {
  font-size: 30px;
  font-weight: bold;
}
.about .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}
.about .image-box img {
  height: 50vh;
  border-radius: 10px;
}
.about .intro-series {
  margin: 5vh 10vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.about .intro-series h3 {
  color: #A58861;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 16px;
}
.about .intro-series li,
.about .intro-series p {
  padding: 5px 0;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.about .intro-series p {
  line-height: 32px;
}
@keyframes link-arrow {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(20%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
.about .intro-series i {
  padding: 0 4px;
  animation: link-arrow 2.5s infinite;
}
.about .intro-series .link-black {
  display: inline-block;
  margin-top: 16px;
}
.about .intro-series .about {
  width: 30vw;
}
.about .intro-series .about .intro-series-h3 {
  text-align: center;
}
.about .intro-series .flex-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 35vw;
}
.about .intro-series .flex-horizontal .hobbies-mini {
  width: 15vw;
}
.about .intro-series .flex-horizontal .skills-mini {
  width: 15vw;
}

.who-am-i {
  background: #cfd8dc;
  width: 100%;
}
.who-am-i h3 {
  text-align: center;
  font-size: 20px;
  padding: 5vh 0;
}
.who-am-i .section-title {
  text-align: center;
  position: sticky;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: #cfd8dc;
}
.who-am-i .section-title h2 {
  font-size: 30px;
  font-weight: bold;
}
.who-am-i .hobbies {
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.who-am-i .hobbies .hobby-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.who-am-i .hobbies .hobby-card {
  width: 35vw;
  border: 1px solid #1d1d1f;
  padding: 16px;
  margin: 5vh 0;
  line-height: 32px;
}
.who-am-i .hobbies .hobby-card h4 {
  text-align: center;
}
.who-am-i .hobbies .hobby-card .images-box {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.who-am-i .hobbies .hobby-card .images-box a {
  display: block;
}
.who-am-i .hobbies .hobby-card .images-box img {
  height: 20vh;
}
.who-am-i .fav-people {
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.who-am-i .fav-people .person-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.who-am-i .fav-people .person-cards .person-card {
  width: 15vw;
}
.who-am-i .fav-people .person-cards .person-card h4 {
  text-align: center;
  margin-bottom: 16px;
}
.who-am-i .fav-people .person-cards .person-card img {
  max-width: 100%;
  margin-bottom: 16px;
}
.who-am-i .dream .dream-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.who-am-i .dream .dream-cards .dream-card {
  width: 25vw;
  border: 1px solid #1d1d1f;
  padding: 16px;
  margin: 5vh 0;
  line-height: 32px;
}
.who-am-i .dream .dream-cards .dream-card h4 {
  text-align: center;
}

.skills {
  background-color: #1c313a;
  color: white;
}
.skills h3 {
  text-align: center;
  font-size: 20px;
  padding: 5vh 0;
}
.skills .section-title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: #1c313a;
  position: sticky;
  top: 0;
}
.skills .learned,
.skills .learning {
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
.skills .skill_cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.skills .skill_card {
  margin: 5vh;
  width: 30vw;
}
.skills .skill_card h4 {
  text-align: center;
  color: #D5B891;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5vh;
}
.skills .skill_card p {
  line-height: 32px;
}
.skills .skill_card .a-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border: 2px solid white;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}
.skills .skill_card .a-button:active {
  background: #D5B891;
  color: #1c313a;
  border: none;
}
.skills .skill_card .a-button:active:after {
  display: none;
}
.skills .skill_card .a-button:hover::after {
  transform: translate(5px, -5px);
}
.skills .skill_card .a-button::after {
  display: block;
  content: "";
  position: absolute;
  top: 5px;
  left: -7px;
  width: 200px;
  height: 45px;
  background: rgba(245, 245, 245, 0.4);
  transition: transform 0.3s;
}

.footer {
  background: white;
  color: #1d1d1f;
  width: 100%;
}
.footer h3 {
  text-align: center;
  font-size: 20px;
  padding: 5vh 0 3vh;
}
.footer .nav {
  margin: 0 25vw;
}
.footer .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .nav ul li {
  display: block;
  margin: 16px;
}
.footer .nav ul li a {
  color: #1d1d1f;
  border-bottom: 1px solid #1d1d1f;
}
.footer .nav ul li a:hover {
  border-bottom: 1px solid rgba(29, 29, 31, 0.5);
  color: rgba(29, 29, 31, 0.5);
}
.footer .thanks-message {
  font-size: 25px;
  text-align: center;
  padding: 5vh 0;
}
.footer .cc {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 14px;
  width: 60vw;
  margin: 0 auto;
  padding: 2vh 0;
}

@media screen and (max-width: 860px) {
  html {
    height: 100%;
    width: 100%;
  }
  html body {
    height: 100%;
  }

  .sp-none {
    display: none;
  }

  .icon {
    position: fixed;
    top: 5vh;
    left: 10vw;
  }

  .hero {
    height: 100%;
  }
  .hero .title {
    text-align: center;
  }
  .hero .title h1 {
    font-size: 20px;
  }
  .hero .title h1:after {
    display: block;
    content: "";
    height: 20px;
  }
  .hero .title p {
    font-size: 25px;
    color: #A58861;
  }
  .hero .scroll-box {
    height: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  .hero .scroll-box p {
    padding-bottom: 4px;
    letter-spacing: 2px;
  }
  .hero .scroll-box .scroll-arrow {
    height: 100%;
    overflow: hidden;
  }
  .hero .scroll-box .scroll-arrow .black-bar {
    margin: 0 auto;
    height: 100%;
    width: 2px;
    background: #1d1d1f;
  }
  @keyframes scroll {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  .hero .scroll-box .scroll-arrow .golden-bar {
    width: 2px;
    margin: 0 auto;
    height: 100%;
    background: #D5B891;
    animation: scroll 2s infinite;
  }

  .about {
    color: #1d1d1f;
    max-width: 100%;
    background-color: white;
  }
  .about .section-title {
    text-align: center;
    position: sticky;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: white;
    z-index: 10;
  }
  .about .section-title h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .about .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
  }
  .about .image-box img {
    width: 90vw;
    height: auto;
    border-radius: 5px;
  }
  .about .intro-series {
    margin: 5vh 5vw;
    display: block;
  }
  .about .intro-series h3 {
    color: #A58861;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 16px;
  }
  .about .intro-series li,
  .about .intro-series p {
    padding: 5px 0;
    font-family: YuGothic, "Yu Gothic", sans-serif;
  }
  .about .intro-series p {
    line-height: 32px;
  }
  @keyframes link-arrow {
    0% {
      transform: translateY(0%);
    }
    30% {
      transform: translateY(20%);
    }
    60% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .about .intro-series i {
    padding: 0 4px;
    animation: link-arrow 2.5s infinite;
  }
  .about .intro-series .link-black {
    display: inline-block;
    margin-top: 16px;
  }
  .about .intro-series .about {
    width: 90vw;
    margin: 0 auto 10%;
  }
  .about .intro-series .about .intro-series-h3 {
    text-align: center;
  }
  .about .intro-series .about .intro-series-h3 h3 {
    font-size: 25px;
  }
  .about .intro-series .flex-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
  }
  .about .intro-series .flex-horizontal .hobbies-mini {
    width: 40vw;
  }
  .about .intro-series .flex-horizontal .skills-mini {
    width: 40vw;
  }

  .who-am-i {
    background: #cfd8dc;
    width: 100%;
  }
  .who-am-i h3 {
    text-align: center;
    font-size: 20px;
    padding: 3vh 0;
  }
  .who-am-i p {
    line-height: 28px;
  }
  .who-am-i .section-title {
    text-align: center;
    position: sticky;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: #cfd8dc;
    z-index: 10;
  }
  .who-am-i .section-title h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .who-am-i .hobbies {
    font-family: YuGothic, "Yu Gothic", sans-serif;
  }
  .who-am-i .hobbies .hobby-cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .who-am-i .hobbies .hobby-card {
    width: 80vw;
    border: 1px solid #1d1d1f;
    padding: 16px;
    margin: 5vh 0;
  }
  .who-am-i .hobbies .hobby-card h4 {
    text-align: center;
  }
  .who-am-i .hobbies .hobby-card .images-box {
    padding-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .who-am-i .hobbies .hobby-card .images-box a {
    display: block;
  }
  .who-am-i .hobbies .hobby-card .images-box img {
    height: 20vh;
  }
  .who-am-i .fav-people {
    font-family: YuGothic, "Yu Gothic", sans-serif;
  }
  .who-am-i .fav-people .person-cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .who-am-i .fav-people .person-cards .person-card {
    width: 70vw;
    text-align: center;
  }
  .who-am-i .fav-people .person-cards .person-card img {
    max-width: 50%;
    margin-bottom: 16px;
    border-radius: 5px;
  }
  .who-am-i .fav-people .person-cards .person-card h4 {
    margin-bottom: 16px;
  }
  .who-am-i .fav-people .person-cards .person-card p {
    margin-bottom: 5vh;
    text-align: left;
  }
  .who-am-i .dream .dream-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .who-am-i .dream .dream-cards .dream-card {
    width: 80vw;
    border: 1px solid #1d1d1f;
    padding: 16px;
  }
  .who-am-i .dream .dream-cards .dream-card h4 {
    text-align: center;
  }

  .skills {
    background-color: #1c313a;
    color: white;
  }
  .skills h3 {
    text-align: center;
    font-size: 20px;
    padding: 3vh 0;
  }
  .skills .section-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #1c313a;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .skills .learned,
  .skills .learning {
    font-family: YuGothic, "Yu Gothic", sans-serif;
  }
  .skills .skill_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .skills .skill_card {
    margin: 5vh 0;
    width: 80vw;
  }
  .skills .skill_card h4 {
    text-align: center;
    color: #D5B891;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5vh;
  }
  .skills .skill_card p {
    line-height: 32px;
  }
  .skills .skill_card .a-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border: 2px solid white;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
  }
  .skills .skill_card .a-button:active {
    background: #D5B891;
    color: #1c313a;
    border: none;
  }
  .skills .skill_card .a-button:active:after {
    display: none;
  }
  .skills .skill_card .a-button:hover::after {
    transform: translate(5px, -5px);
  }
  .skills .skill_card .a-button::after {
    display: block;
    content: "";
    position: absolute;
    top: 5px;
    left: -7px;
    width: 200px;
    height: 45px;
    background: rgba(245, 245, 245, 0.4);
    transition: transform 0.3s;
  }

  .footer {
    background: white;
    color: #1d1d1f;
    width: 100%;
  }
  .footer h3 {
    text-align: center;
    font-size: 20px;
    padding: 5vh 0 3vh;
  }
  .footer .nav {
    margin: 0 15vw;
  }
  .footer .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .nav ul li {
    display: block;
    margin: 10px;
  }
  .footer .nav ul li a {
    color: #1d1d1f;
    border-bottom: 1px solid #1d1d1f;
  }
  .footer .nav ul li a:hover {
    border-bottom: 1px solid rgba(29, 29, 31, 0.5);
    color: rgba(29, 29, 31, 0.5);
  }
  .footer .thanks-message {
    font-size: 25px;
    text-align: center;
    padding: 5vh 0;
  }
  .footer .cc {
    font-family: YuGothic, "Yu Gothic", sans-serif;
    font-size: 14px;
    width: 60vw;
    margin: 0 auto;
    padding: 2vh 0;
  }
}

/* #Progress Circle
================================================== */
.progress-wrap {
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#progress-wrap-arrow {
  position: absolute;
  // font-family: 'unicons';
  // content: '\e84b';
  text-align: center;
  line-height: 46px;
  font-size: 16px;
  color: #00bfa5;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #00bfa5;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

// test below

#cover {
  position: absolute;
  top: 0;
  left: 0;
  background: gold;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: .7s;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2em;
  }
}

.upDisapper {
  transform: translateY(-100%);
}
